Debug*
Release*
DebugClang
DebugLlvm
RelWithDebInfo
release
debug
Build
logs
trash.*
*~
.DS_Store
OCRC.log*
*.pyc
*.orig
Testing
\#*
.\#*
run.sh
xmtpath.sh
*.iml
.idea
.ropeproject
.history
*.bbl
*.blg
*.dvi
hyp-tutorial.log
texput.log
hyp-tutorial.out
hyp-tutorial.toc
hyp-tutorial.aux
dependency-reduced-pom.xml
sdl/CMakeLists.txt.user
TODO.graehl
