Debug
Release
DebugClang
DebugLlvm
RelWithDebInfo
ReleaseLlvm
ReleaseClang
ReleaseGprof
release
debug
Build
logs
scripts/*.all.xml
*~
.DS_Store
OCRC.log*
*.pyc
*.orig
Testing
\#*
.\#*
RegressionTests/TrainableCapitalizer/weights-bilingual.txt
RegressionTests/TrainableCapitalizer/weights1.txt
RegressionTests/TrainableCapitalizer/weights2.txt
run.sh
xmtpath.sh
*.iml
.idea
.ropeproject
.history
trash.*
*.bbl
*.blg
*.dvi
